[2013-08-15 03:34] paulrayner opened #2 "Crashes on my MBP"
See https://gist.github.com/paulrayner/6238049. I did a little searching - is this an old issue with lack of support for TrueType fonts in Fop? http://comments.gmane.org/gmane.text.xml.fop.devel/25483. I'm not sure why it needs TrueType fonts.

[2013-08-30 04:58] paulrayner opened #3 "Cannot figure out correct way to number chapters using Asciidoctor and asciidoctor-fopdf"
Hopefully this is a simple misunderstanding/ignorance on my part. See https://gist.github.com/paulrayner/6386391 for details and example.

Thanks for the help!

I was just looking through the issues tagged as 1.4 and noticed https://github.com/asciidoctor/asciidoctor/issues/393, but can't see what I'm doing wrong. Maybe this should be an Asciidoctor issue rather than asciidoctor-fopdf, or a post t

[2013-08-30 08:13] mgreau opened #4 "Take advantage of an existing Gradle install"
Even if Gradle is installed and properly configured, fopdf use gradle wrapper in order to download gradle-x.x-bin.zip and install it.

It would be interesting that fopdf take advantage of an existing Gradle install.

_This issue is based on this discussion http://discuss.asciidoctor.org/Use-asciidoctor-fopdf-with-gradle-already-installed-tc533.html_

[2013-10-04 14:51] rwinch opened #5 "Multiple level 0 sections results in ValidationException: "fo:block" is not a valid child of "fo:root""
The pdf generation fails when I try to create a pdf from a book with multiple level 0 sections. For example if I save the following as **sample.adoc**:

[code]

I then run the following command with asciidoctor 0.1.4:

[code]

So far so good. I then run the following:

[code]

Which results in the following error:

[code]

[2013-10-08 06:55] mojavelinux opened #6 "Move repo to asciidoctor organization, rename to asciidoctor-fopub"
Move the repository to the asciidoctor organization. Also, rename the project to "fopub" so the name doesn't give the impression that it's constrained to PDF output. The project can be used to generated any output type that can be generated by the DocBook toolchain.

[2013-10-15 08:55] fleurystephane opened #7 "Update fopdf.bat for windows"
Hi,

I've just tried to install and use fopdf on Windows...not my preferred OS! but OS at work... :(

I had to update the fopdf.bat to run it correctly :

There were 3 problems for me :
- for the param attribute on the command line, you must prefix every URLs with file:/// and use slash instead of backslash
- I wrote in the command line the directory of install asciidoctor-fopdf : C:/progfile/asci

[2013-10-22 23:41] mgreau opened #9 "Font "mono" not embedded into PDF on OS X 10.8.3"
On my MacBook Pro (OSX 10.8.3), if I launch fopdf.sh to generate a PDF file from the sample.xml, the output sample.pdf is 65 ko and seems to not embed "mono" font.

If I update the lines below of the fo-pdf.xsl file :

[code]

to this lines :

[code]

The output PDF file is then 76 Ko and the Courier font is embedded.

PS: to whether a font is embedded into the output PDF file, I upload this file

[2013-11-02 01:59] #7 closed, assigned to mojavelinux

[2013-11-02 02:01] mojavelinux opened #11 "Add XML character entities for DocBook 5"
XML character entities, like `&copy;` are not automatically loaded in DocBook 5. Add logic into fopdf to declare these entities so they can be used in the PDF.

[code]

The problem is best explained at http://www.sagehill.net/docbookxsl/Db5Entities.html#Db5EntitiesFile

[2013-11-02 02:26] mojavelinux opened #12 "Add usage flag to fopdf script"
Add a commandline flag to report usage for fopdf.

[code]

[2013-11-03 05:27] mojavelinux opened #14 "Initialize into build directory of fopdf when launched from different directory"
When fopdf is launched for the first time, and the current working directory is not the fopdf project, the initialization should still work and it should setup the files into the build directory of the fopdf project.

[2013-11-03 05:34] #12 closed, assigned to nobody

[2013-11-03 05:34] #14 closed, assigned to mojavelinux

[2013-11-03 05:35] #9 closed, assigned to nobody

[2013-11-03 06:39] #11 closed, assigned to mojavelinux

[2013-11-03 06:42] mojavelinux opened #15 "Line information missing in validation error"
When fopdf is run on a DocBook file, the line information is missing when a validation error is thrown. The line information is reported, on the other hand, when fopdf is run on a FO file. Sort out how to get the FO processor to report line information in the first case.

[2013-11-11 11:54] agori opened #16 "Problem with avalon-framework"
The conversion from docbook to PDF fails in my computer with the following message:

<pre>
.
Initializing application...

FAILURE: Build failed with an exception.

* What went wrong:
Could not resolve all dependencies for configuration ':compile'.

  Required by:
      org.asciidoctor:fopdf:0.1.4-SNAPSHOT

  Required by:
      org.asciidoctor:fopdf:0.1.4-SNAPSHOT

  Required by:
      org.asciidoc

[2013-11-27 23:55] mojavelinux opened #17 "Add custom docbook-xsl directory option to fopdf.bat"
Add the custom docbook-xsl directory option to fopdf.bat to align with #13.

[2013-11-27 23:57] mojavelinux opened #18 "Clarify that the Java installation must be a JDK"
Clarify in the README that the Java installation must be a JDK, not just a JRE. The reason is that one Java class must be compiled that tweaks the behavior for Apache FOP.

[2013-11-28 02:38] #5 closed, assigned to nobody

[2013-11-28 03:05] #18 closed, assigned to nobody

[2014-01-16 10:10] raghunayak opened #20 "Aciidoctor callout throws error during conversion"
Following AsciiDoc throws warning during AsciiDoctor to PDF conversion and at the end no program listing is shown in generated PDF.

[code]

---

If I move  one line down, everything works.

[code]

Conversion Command: (Tried both of below commands)

asciidoctor -b docbook -d book doc.adoc;fopub doc.xml
asciidoctor -b docbook5 -d book doc.adoc;fopub doc.xml

asciidoc fopub version: commit f9fceabd

[2014-01-17 08:35] #20 closed, assigned to mojavelinux

[2014-06-09 11:04] bimlas opened #21 "Duplicate global variable declaration: src/dist/docbook-xsl/fo-pdf.xsl: alignment"
I tried to use the stylesheets with my own docbook toolchain on Windows7 with saxon+xerces+fop and i get the following errors:

[code]

Please delete one of these lines in `src/dist/docbook-xsl/fo-pdf.xsl`:

[code]

[2014-06-20 07:47] bartoleo opened #22 "I tried using inline icons, in html I can see them, in pdf no"
I tried using inline icons, in html I can see them, in pdf no:

[code]

asciidoctor "inline icons" 0.1.4 ref:
http://asciidoctor.org/docs/user-manual/#inline-icons

[2014-06-20 09:27] #22 closed, assigned to nobody

[2014-06-21 06:45] #21 closed, assigned to mojavelinux

[2014-06-24 13:09] bizzguy opened #23 "Problem converting xml to pdf"
I've created an xml file from adoc format using asciidoctor.  When I run fopub on it I get an error (as shown below).  I've verified that the PDF generation works correctly by running the fopub README.adoc through it.  My guess is that my original adoc has some kind of format error.  How do I debug this.  Is there an error in the xml that prevents the PDF from being generated?  How do I trace that

[2014-07-14 10:52] rahmanusta opened #24 "Docbook To PDF small images"
When converting docbook to pdf with fopub, everything is ok but images are small. When i give width imagedata element in docbook, texts overlaps images. How can i solve this?

![image-size](https://cloud.githubusercontent.com/assets/1158804/3569771/f20f5b72-0b44-11e4-8a9f-b930d1dd4bc6.png)

[2014-08-04 04:24] dmalan opened #25 "spacing with list continuations"
When rendering the sample Asciidoc down below, as with `asciidoctor sample.asc`, the resulting HTML has a noticeable margin above and below paragraphs, as indicated by the green arrows below:

![html](https://cloud.githubusercontent.com/assets/788678/3793180/9533ea62-1b8e-11e4-9d46-1b5bf2cb7915.png)

When rendered as PDF, though, as with `asciidoctor -b docbook sample.asc ; fopub sample.xml`, the

[2014-08-09 00:59] DavidGamba opened #26 "Long title in header overflows to body"
With the default stylesheets I get the following problem:

![header-overflow](https://cloud.githubusercontent.com/assets/1115287/3864490/78526818-1f5f-11e4-8e96-2a4771a05eee.png)

I can reproduce with even less words if the word is long (like technical terms). I found two possible solutions:

[code]
1. Increase the `body.margin.top` to 20 (see diff)
2. Add the `header.column.widths` parameter (see

[2014-08-09 05:12] DavidGamba opened #28 "Code block with long lines overflows"
I want to have long code lines wrapping around:

This is my text in asciidoc:

[code]

And here is how it gets rendered in xml:

[code]

And here is my pdf:

![block-overflow](https://cloud.githubusercontent.com/assets/1115287/3865129/9fb2defa-1f83-11e4-87b8-db3faeef16dd.png)

I haven't been able to figure this one out because I don't know how to refer to the `screen` block.
I tried setting stuff

[2014-08-12 22:16] DavidGamba opened #29 "Only absolute dirs are allowed for the docbook-xsl directory"
When calling the fopub command with a relative docbook-xsl dir it fails to find it.

[code]

The error output is the following:

[code]

[2014-08-19 15:54] rahmanusta opened #31 "How to generate image numbering"
Im using asciidoctor-fopub to generate pdf books. toc and table's numbering is generating with it. But, i couldnt generate image numbering with fopub, how can i do it?

[2014-08-20 21:12] ahus1 opened #32 "Inline images render in new line in PDF, but in same line as HTML5"
The following asciidoc

[code]

renders differently in HTML5 with asciidoctor 1.5 (inline images) and PDF with asciidoctor 1.5 (images in separate line).

I would like the PDF to render the images like in HTML.

See two sceen shots below.

Thank you very much,
Alexander.

HTML:
![play_html](https://cloud.githubusercontent.com/assets/3957921/3988276/55206eb4-28ae-11e4-8ca4-c6082ad3545e.png)

PDF:
!

[2014-08-28 10:46] hasalex opened #33 "StackOverflowError with a data-uri image"
I have a simple document with an image and a data-uri directive. I generate the docbook and when I'm generating the PDF, I have a StackOverflowError.

Here is the adoc :

[code]

Here the stacktrace :

[code]

[2014-08-28 11:58] #33 closed, assigned to mojavelinux

[2014-08-29 02:43] pellcorp opened #34 "Make the build ready for distribution and installation to a different machine."
The only thing preventing this is the applicationDefaultJvmArgs = ["-Dxml.catalog.files=$buildDir/${project.name}/catalog.xml"]

which then gets generated into the fopub and fopub.bat files.

[2014-08-29 20:57] #32 closed, assigned to mojavelinux

[2014-09-16 08:02] #26 closed, assigned to nobody

[2014-09-17 06:50] #25 closed, assigned to nobody

[2014-09-23 13:31] Nirkus opened #37 "fopub setup fails on Debian jessie"
Hey,

fopub setup seems to fail on Debian jessie (amd64):

[code]

Subsequent calls of fopub throw the same exceptions:

[code]

JDK & JRE are OpenJDK 1.7:

[code]

[2014-09-24 08:42] #37 closed, assigned to mojavelinux

[2014-09-24 18:11] marceloverdijk opened #38 "Integrate with Gradle asciidoctor plugin"
Integrate generating pdf output using the Gradle asciidoctor plugin.
Or is this already possible?

[2014-09-25 06:48] #38 closed, assigned to nobody

[2014-09-25 06:57] mojavelinux opened #39 "Clarify in README that fopub is for use outside of a build"
Clarify in the README that fopub is for use outside of a build, similar to the a2x command from AsciiDoc Python. See #38 for discussion.

[2014-09-27 07:06] #29 closed, assigned to nobody

[2014-11-28 05:40] getreu opened #41 "paragraph heading is not followed by newline"
No newline between "header" and "lorem".

[code]

[2014-12-03 07:58] nicesw123 opened #42 "Using fonts with a more freedomrespecting license"
Hi there,

thanks for `asciidoctor-fopub`.

Im running Debian and there the following asciidoc source `sample.adoc`

[code]

when run through

[code]

gives the following warnings:

[code]

and renders characters ◦ and ▪ with a # in the **pdf**... more-or-less like this:

[code]
### Solution using (somewhat restrictive) Microsoft fonts

I've figure out a way of solving this, but it involves using

[2014-12-19 10:21] nicesw123 opened #43 "Cannot up-scale small image to fit width"
Hi there!

There's a specific small image `small_image.svg`, that I'd like to scale-up to fit into the pdf-width.

(The image source of `small_image.svg` is included right at the bottom for easy copy-pasting)

Here is **sample.adoc** that you can test with html5, pdf (via asciidoctor-fopub), pdf (via asciidoctor-pdf)
[depends only of `small_image.svg`, that you can copy-paste from below]

[code]

[2015-01-02 13:00] otavio opened #44 "Alignment of label for figures doesn't respect the alignment"
When a figure is aligned to 'center' the title is not.

I found a code which supposedly does this:

https://gist.github.com/otavio/e3ec21d9667c5c4fa0d0

However FOP is not happy with it, triggering:

<pre>
org.apache.xpath.XPathException: Can not convert #STRING to a NodeList!
        at org.apache.xpath.objects.XObject.error(XObject.java:702)
        at org.apache.xpath.objects.XObject.iter(XObje

[2015-01-06 06:44] mojavelinux commented on #44
I commented on the gist. I think you are right that the xpath query was mistyped.

[2015-01-15 17:12] plaindocs opened #45 "Glossary missing glossary tags"
Hi Guys,

Following the example in the readme, using my own .adoc and the glossary coughs up an error when creating PDF because the `glossentry` tags are not wrapped in a `glossary` tag in the docbook.

Adding a glossary to the sample

[code]

reproduces the issue for me when using

[code]
Wrapping the `glossentry` tags manually in a `glossary` tags fixes the pdf generation.

[2015-01-15 19:03] mojavelinux commented on #45
Technically this is because the glossary style must also be on the section.

[code]

This is an historical requirement of AsciiDoc. We could rethink the policy in Asciidoctor if this is too restrictive.

[2015-01-16 13:47] plaindocs commented on #45
Aah right - I missed that - info is a bit thin on the ground.

http://asciidoctor.org/docs/user-manual/#user-glossary is empty, and the code section above it also looks a bit off:

[code]

Shall I make a PR for that section?

[2015-01-16 18:39] mojavelinux commented on #45
Please do.

Currently the only place this information exists is in the "old" manual. In fact, it's only a very brief note. We can do better in the Asciidoctor user manual.

[2015-01-18 18:11] plaindocs commented on #45
Done. https://github.com/asciidoctor/asciidoctor.org/pull/346

[2015-01-19 05:07] mojavelinux commented on #45
Thank you so much for contributing this documentation enhancement! :beers:

[2015-01-19 05:07] #45 closed

[2015-04-29 20:02] stallio commented on #17
Is there some other way to use custom XSL in Windows, or is the only way to edit the contents of the docbook-xsl folder?

[2015-04-29 20:06] mojavelinux commented on #17
Not really. This issue needs to be resolved. Otherwise, the information is not passed to the processor and it won't know to use another directory.

In addition to the commandline option, we could also consider adding an environment variable for the location of the dockbook-xsl folder.

Of course, you can always feel free to hack the contents of the docbook-xsl folder yourself. However, you'd need

[2015-07-02 08:29] neontapir opened #46 "sed error when executing fopub"
On my MacbookPro, I run `asciidoctor -b docbook -d book -a data-uri! giants.adoc` to produce a DocBook XML file called `giants.xml`. However, when I try to process that file with `fopub giants.xml` from the folder containing my document, I get the following error:

    sed: 1: "giants.xml": extra characters at the end of g command
    Warning: Could not get charToByteConverterClass!
    Jul 02, 20

[2015-07-02 08:36] mojavelinux commented on #46
The only use of sed in the script is on the following line:

https://github.com/asciidoctor/asciidoctor-fopub/blob/master/fopub#L109

Something is going wrong there. You could just comment it out.

fopub only does PDF at this point. The script would need to be enhanced to accept a format option (like a2x) that is passed to the processor so it uses the appropriate XSLT files.

[2015-07-02 08:49] neontapir commented on #46
Thanks, commenting it out solved my issue.

[2015-07-02 08:49] #46 closed

[2015-07-11 04:40] ProgramFan opened #47 "Upgrade fop to 2.0"
Apache has released FOP 2.0 in June 2015. It supports OpenType CCF fonts. I wonder if we can upgrade FOP to 2.0 and did a few experiments and failed.

1. Change FOP version in `build.gradle` to 2.0 and reinitialize.

The compilation of `main/org/xxxx/InputHandler.java` failed due to invalid interface called.

2. I found an InputHandler.java in FOP 2.0 source and replaced `src/main/XXX/InputHandler

[2015-07-11 04:53] mojavelinux commented on #47
The InputHandler class is there to work around a bug where fop is reaching out to the internet because it does not (or did not) properly register the resolver.

Here's my patch against the Apache FOP source code.

https://github.com/mojavelinux/apache-fop/commit/8ab195000e723c90c8fec70adad4175f1674a844

We should probably document this in the README to make it more clear.

I see the bug is still n

[2015-07-11 04:55] mojavelinux commented on #47
I'm looking for a new maintainer for Asciidoctor fopub as my focus has shifted to Asciidoctor PDF. I'm in favor of the migration to FOP 2.0 as we certainly want to stay current. However, testing will be needed to ensure we don't break existing uses.

[2015-07-11 14:34] ProgramFan commented on #47
@mojavelinux I tried apply your patch to the latest InputHandler.java and fopub initializes sucessfully. But fopub still crashes. It can reproduced by running fopub in the README.adoc of this repo.

[code]

Asciidoctor-PDF is promissing and evolves quickly. Thanks you for the nice job. I don't program in Java so I have no idea on how to fix the problem.

[2015-07-11 22:02] mojavelinux commented on #47
It's very possible that the DocBook 1.78.1 templates are not compatible with Apache FOP 2. If that's the case, then this is not an issue with fopub, but rather with DocBook itself (which fopub wraps). I'd look for news about DocBook support for Apache FOP 2. Once we get that confirmation, then it can be integrated into fopub.

[2015-07-11 22:06] mojavelinux commented on #47
Sure enough, I found a thread on the DocBook Apps mailinglist that confirms there is an incompatibility.

https://lists.oasis-open.org/archives/docbook-apps/201506/msg00020.html

Until that is resolved, there's little we can do in fopub (because fopub is just a wrapper).

[2015-07-13 23:51] ProgramFan commented on #47
@mojavelinux Thanks for the information, I think we will just wait. :)

[2015-08-14 13:46] rahmanusta commented on #47
@ProgramFan @mojavelinux I tried to switch fop 1.1 to 2.0 in my project and I'm getting same exception. We need to wait Docbook's update :)

[2015-08-22 08:55] rahmanusta commented on #47
@mojavelinux @ProgramFan

I investigated that by using the default docbook.xsl, fop 2.0 generates PDF normally;

But with fo-pdf.xsl in fopub, it throws NullPointerException when generating PDF.

After several tries I understand that problem causes from `monospace.properties`, `verbatim.properties`  and  `shade.verbatim.style` attributes and it's bottom (padding/margin) attributes.

For example; I

[2015-08-22 10:09] mojavelinux commented on #47
Thanks for looking into this @rahmanusta. Please proceed. In fact, given that this project is critical to AsciidocFX at the moment, what do you think if I added you as an administrator on it so that you can ensure that you have the control to make fixes when you need to make them?

[2015-08-22 11:51] rahmanusta commented on #47
@mojavelinux Of course, fopub project is base for AsciidocFX's PDFConverter and it has critical position. We can contribute to fopub project for that and any other fixes and improvements.

[2015-08-23 00:15] ProgramFan commented on #47
Nice work

[2015-10-26 09:43] getreu opened #48 "build broken: Task 'installApp' not found in root project 'bin'."
[code]

[2015-10-28 06:11] mojavelinux commented on #48
I just tested it and it works fine for me. I'd need to know more about your environment in order to help you debug. For instance:

1. What OS are you using?
2. Which version of Java is on your path?
3. What is the output when you turn on `--stacktrace` (you need to edit the fopub file to add this flag where gradle is called)
4. Why are you not using Asciidoctor PDF?

[2015-10-28 17:13] getreu commented on #48
I have not paid attention to that the directories: `asciidoctor-fopub/.gradle` and `asciidoctor-fopub/build` have to be writeable for users. Now it works.

[2015-10-28 17:13] #48 closed

[2015-10-28 17:40] getreu commented on #48
Another problem was that I executed a symbolic link `fopub` in `/usr/local/bin`. It seems that gradle does not find it's files this way.

Now I execute `\usr\local\...\fopub` with absolute path and it works.

[2015-11-01 17:27] getreu commented on #41
Any progress on this? We still need the fopub backend for production use (i.e. footnotes etc.)!

I tested `asciidoctor-pdf` and `asciidoctor` html, both render paragraph titles right.
Also the xml seems ok to me.

## adoc2xml
![adoc2xml](https://cloud.githubusercontent.com/assets/579082/10870240/79892f88-80ce-11e5-8567-f742fc0b74e6.png)

## adoc2docbook2fopub
![adoc2docbook2fopub](https://cloud.gi

[2015-12-20 00:19] MarcoIeni opened #49 "How can I enable asciimath support?"
I have an adoc file with some "asciimath:[formula]".
If I use the command "asciidoctor file.adoc" I get an html file where I can see my formulas correctly, but if I follow the procedure with fopub I can't see my formulas in the pdf.

[2015-12-20 04:11] mojavelinux commented on #49
There are two parts. First, you need to install the asciimath gem:

    $ gem install asciimath

With that gem installed, Asciidoctor will automatically convert AsciiMath to MathML when the `stem` attribute is enabled.

    $ asciidoctor -b docbook -a stem sample.adoc

NOTE: Asciidoctor 1.5.3 only converts AsciiMath blocks. Asciidoctor 1.5.4 will also convert inline AsciiMath elements (as in your

[2015-12-20 08:50] #49 closed

[2015-12-20 08:53] mojavelinux commented on #41
This behavior can be changed by modifying the template for `db:formalpara/db:title | formalpara/title`. I've proposed a fix in PR #51.

Keep in mind this isn't always the desired behavior, so it might be good to add a parameter to control this option.

[2015-12-20 09:03] mojavelinux commented on #41
I've added the XSL parameter `runinhead.default.title.break.after` to control the behavior. By default it will add a newline, but this can be reverted.

[code]

[2015-12-20 09:05] mojavelinux commented on #41
I also fixed the layout when the break is disabled so that the title and the content aren't mashed up next to one another.

[2015-12-20 09:07] mojavelinux commented on #41
Recall that the punctuation character at the end of the title can also be controlled, for when you disable the newline:

[code]

[2015-12-20 09:08] #41 closed

[2015-12-20 11:12] getreu commented on #41
I tested you patch. I works fine and looks really cool! Thank you!

[2015-12-20 12:39] MarcoIeni commented on #49
Thank you, but it doesn't helped me.
I followed your instructions and it doesn't worked the first time.
I downloaded the zip of the project and I tried once again but it seems that asciidoctor skips "asciimath:[]"

This is my sample.adoc:

[code]

and this is the sample.xml that I get:

[code]

I verified that asciidoctor is up to date and that asciimath is installed

[2015-12-20 18:39] mojavelinux commented on #49
That's because the pull request isn't merged yet. I still need to review it.

In the meantime, simply use a math block.

[code]

[2015-12-20 18:42] mojavelinux commented on #49
To clarify, the pull request in Asciidoctor core that converts inline asciimath to MathML is not merged yet. See https://github.com/asciidoctor/asciidoctor/pull/1623.

[2015-12-20 18:49] MarcoIeni commented on #49
ok, sorry, and thank you very math for your amazing support!

[2015-12-20 18:54] mojavelinux commented on #49
:+1:

[2016-01-05 02:37] MarcoIeni opened #52 "How to change the font size of java code"
Sorry about this issue, maybe it is a stupid question, but I didn't found anything on the internet about that.

In addition, there is a way to change the size of an external file? Something like

[code]

[2016-01-05 02:43] mojavelinux commented on #52
There's no way to control this from AsciiDoc. You have to modify the XSL templates or pass an XSL param. See https://github.com/asciidoctor/asciidoctor-fopub/blob/master/src/dist/docbook-xsl/fo-pdf.xsl#L178-L189.

[2016-01-06 17:03] MarcoIeni commented on #52
solved editing that file, thank you very much!

[2016-01-07 00:30] mojavelinux commented on #52
:+1:

[2016-01-10 12:09] lyshsgc opened #53 "A problem to export pdf!"
I tired to transfer adoc to pdf yesterday. You could see the style that Book name with picture and word description on front page in html-preview (That is exactly I need!).  However, after using asciidoctor-fopub, there was no words and picture in home page. The picture and word was moved to pp.6. Why is this happening? Is it possible to generate pdf that is the same as html 100%?

![html](https:/

[2016-02-24 08:46] mojavelinux opened #55 "Add option to produce html output"
Add option to produce chunked (`chunked`) HTML and htmlhelp (`htmlhelp`). This simply involves pointing to the appropriate XSL from the run script.

* For the Unix script, https://github.com/asciidoctor/asciidoctor-fopub/blob/master/fopub#L113-L125
* For the Windows script, https://github.com/asciidoctor/asciidoctor-fopub/blob/master/fopub.bat#L65-L75

[2016-03-10 09:28] jagdeepjain opened #56 "how to start new chapters on the right hand side in asciidoctor-fopub?"
I want to start new chapters on the right hand side of the book, tried looking into config points in asciidoctor but could not find it. Any pointers is appreciated.

Thanks.

[2016-03-10 09:40] jagdeepjain opened #57 "how to reduce the size of just colophon text but not entire book?"
I want to reduce the size of fonts on colophon page, any pointers would be helpful.
Thanks.

[2016-03-12 15:19] Walckiers commented on #49
Can Asciidoctor 1.5.2 convert asciimath to format html?

I copied your example
«In the meantime, simply use a math block.»
into file _more_testing.adoc_

and ran
    `asciidoctor  -a stem more_testing.adoc`

and all I got was this

    sample1
    \$sqrt(4) = 2\$

    sample2

(cut and pasted from the html)

I also tried
    `asciidoctor -b html -a stem  more_testing.adoc`
and
    `asciidoctor mor

[2016-03-13 08:12] mojavelinux commented on #49
I should have mentioned in the instructions that you need at least Asciidoctor 1.5.4 for full AsciiMath support in the DocBook output. (I'm going to open an issue in the asciidoctor.org repository to document the AsciiMath support in DocBook via the asciimath gem).

Correct. When converting to HTML, math is processed in the browser by MathJax. You won't see any MathML in the HTML itself.

The 1.5.

[2016-03-13 08:21] Walckiers commented on #49
Thank you for quick and very helpful reply.

I hope that someone from the Ubuntu powerhouse is listening ...

Richard H

[2016-03-13 09:06] mojavelinux commented on #49
You could just update the gem using:

    gem update asciidoctor

given that you've already used the gem command to install asciimath.

If that fails, try:

    gem install asciidoctor

[2016-03-13 10:30] Walckiers commented on #49
didnt you mean
_**sudo**_  gem install asciidoctor ?

No but seriously, that is magic. Look -

![61047_asciidoctorscreenshot](https://cloud.githubusercontent.com/assets/3853503/13728132/323b6f62-e90e-11e5-8209-8321429f5351.png)

P.S. I think I saw somewhere that you are re-writing asciidoctor documentation. If you need a lambda user for field tests, pl. let me know (off list).

[2016-03-13 10:41] mojavelinux commented on #49
In your case, yes.

Yes, we are hard at work on it. See https://github.com/asciidoctor/asciidoctor.org/pulse for activity. (The discussion primarily takes place through issues...all in the open).

[2016-03-20 08:15] mojavelinux commented on #47
We're now on fop 2.1 thanks to @rahmanusta. If you notice any problems, please report them.

[2016-03-20 08:15] #47 closed

[2016-03-20 08:16] mojavelinux commented on #47
Make sure you run a clean build to get the latest dependencies.

[code]

[2016-03-20 08:18] rahmanusta commented on #47
Thank you @mojavelinux.

[2016-04-21 15:47] Thoragan opened #58 "Adding libraries to FOP"
Hi!
I want to add hyphenation pattern for Russian to my project.
So I downloaded `fop-hyph.jar` from http://offo.sourceforge.net
After that I tried to include it to classpath, but there is no effect.

In file 'asciidoctor-fopub/build/fopub/bin/fopub' classpath variable is overwriting by command:
`CLASSPATH=$APP_HOME/lib/fopub-1.0.0-SNAPSHOT.jar:..` (line 63).

After changing it to: `CLASSPATH=$CLA

[2016-04-21 19:28] #58 closed

[2016-04-21 19:29] mojavelinux commented on #58
I added the library to build.gradle with instructions about how to enable it.

See https://github.com/asciidoctor/asciidoctor-fopub/blob/c49ad01c0169e1b73d4c3d6dfcec6f4f22ba3ad6/build.gradle#L24-L25

We may want to document how to add libraries to FOP, in general, in the README.

[2016-04-25 09:03] Thoragan opened #59 "How to enable Russian Cyrillic letters in MathML?"
I want to use Russian Cyrillic letters in [asciimath] blocks. How can I enable rendering it asciidoctor-fopub? All I found was this: http://jats.nlm.nih.gov/archiving/tag-library/1.1d1/n-ive2.html

[2016-04-25 19:10] mojavelinux commented on #59
Could you provide an example of the formula you are trying to use?

What I recommend is just entering the Unicode glyph directly.

[code]

Then run:

[code]

I have noticed, however, that this causes asciimath to choke. You should raise that issue in https://github.com/pepijnve/asciimath.

[2016-05-18 00:59] bwklein opened #61 "[accidental]"

[2016-05-18 01:00] #61 closed

[2016-07-01 08:38] Thoragan commented on #59
This issue resolved in asciimath

https://github.com/pepijnve/asciimath/issues/2

[2016-07-01 08:38] #59 closed

[2016-07-02 22:45] mojavelinux commented on #59
:+1:

[2016-07-14 11:51] ingosimonis commented on #24
I tried now scalewidth, scalefit="1", width="100%", and contentdepth="100%" in various combinations. Unfortunately without success. Then I produced new png images with a resolution of 300DPI. No effect, all images are the size as shown by @rahmanusta above

[2016-09-17 07:03] DmitriyK-CPKIO commented on #28
the SCREEN tags in DOCBOOK-XSL actually boils down to <xsl:attribute-set name="verbatim.properties">

you can play with <xsl:attribute name="wrap-option">wrap</xsl:attribute>, this should help

[2016-10-15 15:17] jagdeepjain opened #65 "unable to get linenumbers on code block"
Configured  in the adoc
:source-highlighter: coderay
:coderay-linenums-mode: inline

and in the file calling as below:

[source,java,linenums]
----
// File:
public class ApplicationConfigurationProvider extends HttpConfigurationProvider
{
   @Override
   public Configuration getConfiguration(ServletContext context) <1>
   {
      return ConfigurationBuilder.begin()
               .addRule()

[2016-10-15 21:15] mojavelinux commented on #65
The source highlighters in Asciidoctor (pygments, rouge, coderay) don't work with fopub. The DocBook toolchain has a special way of doing source highlighting (which honestly isn't very good). If you want to use source highlighting in your PDF, I recommend using Asciidoctor PDF.

[2016-10-16 05:34] jagdeepjain commented on #65
Thanks @mojavelinux I am quite comfortable with fopub :) now, and have almost good infra for writing pdf using it. Guessing now is the time to start with asciidoctor-pdf.

[2016-10-16 09:22] getreu opened #66 "Syntax highlighting for Rust added"
I added syntax highlighting for Rust. I wanted to submit a separate pull request, but it somehow it got merged into my previous pull request #62 . Sorry.
Jens

[2016-10-16 17:26] jagdeepjain commented on #65
@mojavelinux I tried with asciidoctor-pdf and seems like footnotes at the end of page are still in development and other features like TOC and colophon etc requires additional effort that I have already pass through with fopub. Also I already configured fopub and just require the linenumber for code blocks can you please help with the usage of "The DocBook toolchain has a special way of doing sour

[2016-10-16 19:21] mojavelinux commented on #65
I'm sorry, I can't help you. I'm not focusing on fopub right. I don't view it as a good use of my limited time. I'm close to getting Asciidoctor PDF up to parity with the capabilities of the DocBook toolchain (including the features you mentioned) and that's where I'm putting my focus right now.

However, @getreu might be able to help you.

[2016-10-17 04:03] getreu commented on #65
I could not get it work either. This is what I found:

These 2 parameters in `fo.pdf` are needed:

[code]

http://www.sagehill.net/docbookxsl/AnnotateListing.html#LineNumbering

It seems that Apache FOP does not enable the required extension by default and
"some" jar is not in CLASSPATH.

http://www.sagehill.net/docbookxsl/InstallingAnFO.html#UsingFop

Maybe this helps you further...

http://www.r

[2016-10-17 06:33] jagdeepjain commented on #65
Thanks @getreu I will try these links and update whether success or failed :(

[2016-10-17 11:20] getreu commented on #66
highlighting definitions updated from upstream and new languages added

[2016-10-17 19:09] jagdeepjain commented on #65
@getreu
I followed the links you have provided and also got new link as: http://www.stevestreeting.com/2010/03/07/building-a-new-technical-documentation-tool-chain/

Did the required setup and as per the setup these are problem lines under verbatim.xsl
[code]

Not sure how to handle this :(

[2016-10-17 21:34] getreu commented on #65
You need to do 3 things:

- tag the piece of source code where you want line numbers to be printed with `linenums`, e.g.
[code]

- Enable line numbering
   * add these 2 lines to `fo-pdf.xsl`

[code]

   *   Alternatively you can add the parameters also on the command-line when you invoke
     fobup

[code]

-   Add   `:$APP_HOME/docbook/extensions/xalan27.jar`to your CLASSPATH  in file `/usr/loca

[2016-10-18 00:03] mojavelinux commented on #65
Nice summary. One critique.

You should definitely not be modifying the generated build/fopub/bin/fopub file. Instead, you should add the dependency to the build.gradle file, then let Gradle regenerate the fopub script (just delete the build directory).

[code]

(there might also be a way to reference the local file, but it needs to be done in the build.gradle script or else it will get overwritte

[2016-10-18 00:05] mojavelinux commented on #65
I can't even begin to fathom why it's necessary to add an XSLT engine to the classpath when it's already available in Java. This is one of the many reasons I find the DocBook toolchain to be such a mess.

[2016-10-18 03:09] jagdeepjain commented on #65
Thanks @getreu, @mojavelinux I will update on the proceedings at my end.

[2016-10-18 05:15] getreu commented on #65
@jagdeepjain: I followed @mojavelinux advice and pushed a commit here:
https://github.com/getreu/asciidoctor-fopub

I had not time to test it yet. Maybe this afternoon.

[2016-10-18 06:07] jagdeepjain commented on #65
Thanks @getreu I took your changes but did not succeed, I have a sample project https://github.com/jagdeepjain/sample-pdf for testing the same, have added you on this project. Please help :(

[2016-10-18 12:52] getreu commented on #65
@mojavelinux : the following does not refer to the right .jar

[code]
What we need is this one:   `build/fopub/docbook/extensions/xalan27.jar`.

I have no experience with gradle, how to reference the above jar?

[2016-10-18 13:56] jagdeepjain commented on #65
@getreu for me nothing is working please look at https://github.com/jagdeepjain/sample-pdf  and suggest what I am missing in my setup.

[2016-10-18 17:54] getreu commented on #53
Before first text add a section for example

[code]

[2016-10-18 19:07] mojavelinux commented on #65
There are three options to getting the right jar

1. Find the right jar hosted on Maven Central (surely, it must be there)
2. Add the jar to the list of dependencies in a doLast block of the extractDocbookXsl task (you can add a dependency using project.dependencies from inside of doLast I think)
3. Add the jar to startScript by tweaking the unixScript and windowsScript text as you see at the bott

[2016-10-18 19:44] jagdeepjain commented on #65
I download fop-2.1 and was able to generate the pdf successfully with code blocks having line numbers. The same xml is not working with fopub even though I have set required classpath. Seems to be a bug in fopub.

[2016-10-18 20:05] mojavelinux commented on #53
The correct solution is to set the preface-title attribute in the document header. It is blank by default.

[code]

[2016-10-19 08:47] getreu commented on #65
I committed the solution no. 3 to
https://github.com/getreu/asciidoctor-fopub
Could you have a look? It should work out of the box.

[2016-10-19 12:00] jagdeepjain commented on #65
Thanks @mojavelinux, @getreu 👍  it worked for me :) will you be merging with the main branch anytime sooner ?

[2016-10-21 06:41] getreu commented on #65
@mojavelinux  Dan, I wrote you through the email function of our forum. Has this email reached you?
Best
Jens

[2016-10-21 06:45] getreu commented on #65
@jagdeepjain : has your test document also tables and figures with captions, headlines, titlepage etc...? If yes do they all appear correctly?

[2016-10-22 11:25] getreu opened #67 "Upgrade docbook DTD"
I found the following 4.5 references in `build-gradle`:

[code]

http://www.sagehill.net/docbookxsl/Db5Tools.html

[2016-10-23 04:11] jagdeepjain commented on #65
@getreu let me check it, will update you soon.

[2016-10-26 06:12] getreu opened #68 ""workaround for bogus errors using sed in OS X" provokes error under linux"
I had to revert pull request #64:

This reverts commit dedbd6f007550f2f20bc74da60f390337aa5b61c.
Patch does provoke errors for me. I had to revoke it in my branch.
Here the error message under debian 8 with sed (GNU sed) 4.2.2:
can't read s:<(book|article):<!DOCTYPE \1 [<!ENTITYle or directory...

[2016-10-26 06:58] mojavelinux commented on #68
We can't just revert the change because it would break OSX again. We need to find a way to make this command work on all platforms or use some sort of OS-specific conditional.

[2016-10-26 07:49] bsmith-n4 commented on #68
I had a look into this again and the PR I opened has a misleading title: I was encountering bogus _warnings_, not errors, and could successfully generate a target document. If #64 prevents conversion completely on debian, it would make sense to revert but rename this issue to find a POSIX fix for the use of `sed`.

[2016-10-26 08:55] bsmith-n4 commented on #68
OK, after trying a few approaches to this problem, this one seems to be the cleanest while still using `sed` and avoiding the creation of unwanted backup files:

https://github.com/asciidoctor/asciidoctor-fopub/compare/master...bsmith-n4:sed-port

@getreu do you want to test this fix on debian? Branch is found at the following:

https://github.com/bsmith-n4/asciidoctor-fopub/tree/sed-port

thanks

[2016-10-26 19:06] mojavelinux commented on #68
Thanks @bsmith-n4!

[2016-10-27 05:10] getreu commented on #68
@bsmith-n4 : it works for me. Thank you!
@mojavelinux : I wait for your merge into master and will then synchronize my branch with it. Please also have a look in other recent changes, especially `-H`.

[2016-10-27 07:16] getreu opened #69 "Feature request: :front-cover-image: for asciidoctor-fopub"
This post was updated on Oct 27, 2016; 10:12am.
I just discovered the new (not yet documented) attribute `:front-cover-image:` for _asciidoctor-pdf_.
I will try to implement something similar for _asciidoctor-fopub_. Help or ideas are very much appreciated.

[code]

It will render the svg-image instead of a titlepage.

[2016-10-27 07:23] getreu commented on #69
A piece of code to start with:

[code]

[2016-10-27 07:31] mojavelinux commented on #69
The attribute for Asciidoctor PDF is documented here: https://github.com/asciidoctor/asciidoctor-pdf/blob/master/docs/theming-guide.adoc#theme-related-document-attributes

[2016-10-27 07:44] getreu commented on #69
Thank you. I did not know about this document. Impressing how easy `asciidoctor-pdf` can be customized.

[2016-11-02 06:52] jagdeepjain commented on #65
@getreu sorry for working on this so late, I build up my docbook using the code https://github.com/getreu/asciidoctor-fopub and the tables, chapter headers, section headers and title page were happily generated as was earlier.

I saw below difference:
1. Table headers become italics and normal in weight
2. Figure caption becomes italics and normal in weight

![screenshot 2016-11-02 12 21 16](https

[2016-11-02 06:56] jagdeepjain commented on #69
I have customized this by using below configuration:

`  <xsl:template name="front.cover">
    <xsl:call-template name="page.sequence">
      <xsl:with-param name="master-reference">titlepage-cover-image</xsl:with-param>
      <xsl:with-param name="content">
        <fo:block text-align="center">
       <fo:external-graphic src="url(book/cover-images/front-cover/in-digital-front-cover.png)" conten

[2016-11-04 00:16] getreu commented on #65
Both are intentional layout improvements. Thank you for testing!

[2016-11-04 00:41] getreu commented on #69
Thank you!

Concerning the `asciidoctor` xml output, this is what docbook expects: [See cover](http://docbook.org/tdg5/en/html/cover.html)

[code]

### TODO

* Make `asciidoctor` translate  `:front-cover-image:` to `<cover>` when `-b docbook`
* Create a template that uses `<cover>`

[2016-11-17 13:38] elburro1887 opened #71 "admon and callout graphic paths are hardcoded"
Im running fopub with my own custom docbook-xsl like this

`fopub -t custom-docbook-xsl doc.xml`

I want to specify my own path for the admon and callout graphics, which are set via `admon.graphics.path` in `common.xsl` in my custom xsl config.

However, it seems that these are hardcoded in the [fopub script at line 137](https://github.com/asciidoctor/asciidoctor-fopub/blob/master/fopub#L137) and

[2016-11-18 23:42] mojavelinux commented on #69
I'd be glad to implement this. We can support both front and back. Great idea. Can you file in issue in asciidoctor core?

[2016-11-20 02:22] #68 closed

[2017-01-15 08:38] getreu opened #74 "pull request #73 does not create `asciidoctor-fopub/build/fopub/docbook/extensions`"
This directory contains `xalan27.jar` which is needed for source-code line-numbering.

Maybe other files are needed too for other features?

[2017-01-21 17:55] jagdeepjain commented on #65
@getreu seems like changes are not visible now, could not see changes made in https://github.com/getreu/asciidoctor-fopub/commit/64062e80425d652d9a9de4e2b001fa11dba24e8a#diff-2559ef435ce261390c6a1bb7f3419fcb this repo as well as in https://github.com/getreu/asciidoctor-fopub/ repo. can you please let know how to get line numbers now?

[2017-01-21 22:51] getreu commented on #65
Hello, after pull request #73 I discovered issue #74. The new download location does not include the directory `asciidoctor-fopub/build/fopub/docbook/extensions` which you need. Solution: get if from some other place and download it separately. Sorry.

[2017-01-30 06:22] getreu commented on #65
This should work:
1. get the file `xalan27.jar` (my md5: 9098eed8dc523b432acfb2596eec3d47) from [here](http://www.sagehill.net/docbookxsl/InstallingAProcessor.html#SaxonExtensions)
2. copy it into `asciidoctor-fopub/build/fopub/docbook/extensions`
3. use my fork: https://github.com/getreu/asciidoctor-fopub

[2017-01-30 07:29] jagdeepjain commented on #65
Thanks @getreu I will try this and update you...

[2017-02-28 06:43] apnadkarni commented on #42
Just an update since the links in the previous messages are now outdated. If using newer versions of FOP, see https://xmlgraphics.apache.org/fop/2.1/fonts.html for including custom fonts. It's now a much simpler process.

[2017-02-28 06:59] apnadkarni commented on #17
One simple change is to change the following line in fopub.bat
`set DOCBOOK_XSL_DIR=%FOPUB_DIR%\docbook-xsl`
to
`if not defined DOCBOOK_XSL_DIR set DOCBOOK_XSL_DIR=%FOPUB_DIR%\docbook-xsl`
Then define DOCBOOK_XSL_DIR in the environment before invoking fopub

[2017-02-28 07:55] mojavelinux commented on #17
:+1: Would you like to propose that change?

[2017-02-28 08:06] apnadkarni commented on #17
Sure but first I'll try to make the fopub.bat closer to fopub in functionality. Though this Windows batch file language is giving me a headache...

[2017-02-28 16:27] apnadkarni commented on #17
OK, I've submitted a pull request with the changes. fopub.bat should now have the same interface as the Unix version.

[2017-03-02 03:26] mojavelinux commented on #17
Awesome! Thank you! I'll review asap.

[2017-04-06 16:27] apnadkarni opened #78 "fopub fails for offline builds on Windows"
asciidoctor-fopub works fine for me as long as I have network connectivity. Offline however, it fails with error messages:

[code]

I thought the presence of the catalog.xml file(s) would permit offline operation? And moreover does the failure mean it fetches those stylesheets on every run?

[2017-04-06 16:28] apnadkarni commented on #78
Ok, I think I know what the problem is - it's Windows specific. The build/bin/fopub.bat uses APP_HOME to initialize DEFAULT_JVM_OPTS before APP_HOME is set. Thus xml.catalog.files is incorrectly set. Moving the lines
[code]

to be after the line

`set APP_HOME=%DIRNAME%.. `

seems to fix the problem.

I'm unclear where to fix this in the sources.

[2017-04-06 21:24] mojavelinux commented on #78
I think this is as simple as changing the replacement of APP_DIR to `%APP_DIR%` instead of `%APP_HOME%`. The `%APP_HOME%` is calculated later and is thus a different variable. See if #79 fixes your issue. I'm hoping that doesn't break the intention of #34.

[2017-04-07 01:36] apnadkarni commented on #78
That does not fix it for me. At that point APP_DIR is undefined as well and resolves to an empty string resulting in the same (broken) behaviour as before.

[2017-04-07 02:25] mojavelinux commented on #78
That's actually a different problem. The APP_DIR is supposed to be set by the main fopub script (in this case fopub.bat). We need to do for the Windows batch file what we do for the *nix script.

See https://github.com/asciidoctor/asciidoctor-fopub/blob/master/fopub#L77-L80

[2017-04-07 02:29] mojavelinux commented on #78
See if it works now.

[2017-04-07 03:27] apnadkarni commented on #78
Yes, that seems to work. Thanks.

OT, I'd submitted a [pull request](https://github.com/asciidoctor/asciidoctor-fopub/pull/76) to align Windows fopub with Unix. Any idea when that might get looked at ? I know you are hugely busy, just being selfish not wanting to maintain my own fork for that :-)

[2017-04-07 03:36] apnadkarni opened #80 "Error message: WARNING: Invalid property value encountered in border="""
The error message in the subject shows up because of the following fragment (starting at line 105) in src/dist/docbook-xsl/common.xsl

<xsl:attribute-set name="shade.verbatim.style">
    <xsl:attribute name="border">0</xsl:attribute>
    <xsl:attribute name="background-color">#E0E0E0</xsl:attribute>
</xsl:attribute-set>

Changing the border attribute to "none" instead of "0" causes the message to

[2017-04-07 04:34] #78 closed

[2017-04-07 04:45] #80 closed

[2017-04-07 04:45] mojavelinux commented on #80
I don't really know what the intention was either. You are correct that the value should be none.

[2017-04-07 04:50] #17 closed

[2017-04-07 04:50] mojavelinux commented on #78
Merged!

If you are interested, I'd be glad to invite you to be a committer on the project.

[2017-04-07 06:20] apnadkarni commented on #78
Thanks for the merge.

Regarding commit rights, I don't mind if it results in less work for you to adopt these small patches. But not sure I have the skills to contribute, completely lacking Ruby, Java, Javascript and having only a rudimentary knowledge of XML. Perhaps if I do come up with something substantial, I'll ping you.

[2017-04-11 03:16] apnadkarni commented on #71
You should be able to just append the additional param and have it override the hardcoded one in fopub. For example

`fopub -t custom-docbook-xsl doc.xml -param admon.graphics.path /path/to/my/graphics/`

Note the trailing / on the path. This works for me on Windows using latest HEAD. I'm not sure about Unix usage.

/Ashok

[2017-06-21 03:39] getreu commented on #55
Indeed, this does not seem to be a big deal. I am curious to see the html output!
This feature could also be interesting for publishing scientific articles. (I remember an issue that docbook inserted the word "Section" in references and asciidoctor html5 didn't).

[2017-06-21 07:32] mojavelinux commented on #55
I'm working on this as part of Asciidoctor 1.5.6. See https://github.com/asciidoctor/asciidoctor/pull/2220

[2018-08-29 06:57] Daniele-Damiano opened #86 "AsciiMath/Fopub problem whit white space between word"
Hi i have problem whit fopub and asciimath.
Work all good but when i try to add white space between word, is not rendered in pdf:
Example:
I have this file:

` = Insiemi Equivalenze Logiche e Definizioni `
` :stem: `
` |=== `
` |Insieme |Definizione `

`| stem:[A nn B]`
`|  stem:[{ x \ : \ x in A ^^ x in B }]`

`| stem:[A - B]`
`|  stem:[{ x \ : \ x in A ^^ x !in B }]`

`| stem:[bar A]`
`| stem:[{

[2018-08-29 18:39] Daniele-Damiano commented on #86
i found the error, when you write `\` for give a white space in the document, fopub do not map `\` to `<mml:mo>&#160;</mml:mo>` in the xml file.
I'm insert `<mml:mo>&#160;</mml:mo>` this string manually in the xml file generated from fopub and work well.

[2018-09-04 09:42] tajmone opened #87 "Gradle Error With JDK 10 on Win 10"
On my first run of asciidoctor-fopub, under Windows 10 with JDK 10.0.2 I got the following error:

[code]

Any clues?

[2018-09-04 10:04] tajmone commented on #87
Possibly related Issues/PRs:
- gradle/gradle#3849 — gradle fails to detect Java version as of jdk-10-ea+36
- gradle/gradle/#3892 — Adapt Java version detection to support JEP-322

[2018-09-04 16:26] tajmone commented on #87
I've worked around the problem by uninstalling JDK 10 and installing JDK 8, and ascidoctor-fopub works fine.

It's a pitty though that it forces to fall back on the old Java version, if you could update it and implement the fixes mentioned at the links above it would really great!

[2018-09-04 16:34] tajmone opened #88 "Gradlew Error (and Solution) When Running on Win 10"
After following the setup instructions, under Win 10, and having added ascidoctor-fopub to the system PATH, I kept getting an error about the installapp task not being available in my project folder (located elsewhere).

I've solved it by opening a CMD in the "asciddoctor-fopub" root folder and typing:

[code]

... after that, it all worked fine. So it might be worth mentioning this step in the RE

[2018-10-15 00:30] mojavelinux opened #89 "Call for maintainer(s)"
I'm looking for a maintainer for this project. My focus is elsewhere right now, but I know many people still rely on the DocBook toolchain. I'd like to see this project continue to evolve under different leadership.

If you're considering becoming the maintainer of this project, know that you'd have the freedom to take a different approach to integrating the DocBook / Apache FO toolchain other tha

[2018-10-16 01:12] mojavelinux opened #90 "An italic phrase enclosed in bold formatting does not appear as bold italic"
As reported in https://github.com/asciidoctor/asciidoctor/issues/1698, if an italic phrase is enclosed in bold formatting, the text in the PDF only appears in bold, not bold italic.

Example:

[code]

Observed:

![actual](https://user-images.githubusercontent.com/79351/46986756-3a8ce800-d0ae-11e8-9f02-c7ce0786ecaf.png)

Expected:

![expected](https://user-images.githubusercontent.com/79351/4698676

[2018-10-17 05:48] #90 closed

[2018-10-18 06:14] andrewcarver commented on #90
Thanks, Dan!!!

[2018-10-18 06:31] mojavelinux commented on #90
You're welcome. Thanks for reporting. That one was a tough one to notice!

[2018-10-18 16:57] andrewcarver commented on #90
Well, I wasn't the one who noticed it; but I did notice that you had completed, quickly, a self-appointed task that was likely not your favorite sort--yet, had received no thanks--which is, I suspect, far too typical of your work for us. (Though, I'm not sure how we could possibly thank you enough, anyway, for all you have done and do for AsciiDoc.) So, I thought I should make the task just a LITT

[2018-10-18 20:16] mojavelinux commented on #90
Well, it was very welcomed indeed! :sun_with_face:

[2018-10-19 15:58] getreu commented on #89
Maybe @bsmith-n4 is interested? [Commits · NumberFour/asciidoctor-fopub](https://github.com/NumberFour/asciidoctor-fopub/commits?author=bsmith-n4)

[2018-10-27 08:49] getreu opened #92 "Feature request: add a switch to generate html"
As the layout description is generic, it should no be too difficult to render something nice into html.

This would be very useful for people like me, who use `asciidoctor-fopub` in their docbook5 toolchain.

[2018-10-27 10:11] mojavelinux commented on #92
This is really just a matter of expanding on the case statement for $FORMAT. Any format the DocBook toolchain supports should work here, in theory.

https://github.com/asciidoctor/asciidoctor-fopub/blob/master/fopub#L122-L135

[2018-10-28 04:03] getreu commented on #92
I looked up the [Apache FOP Output Formats](https://xmlgraphics.apache.org/fop/0.95/output.html#wishlist). Unfortunately there is no html renderer. I tried the `rtf` render and then converted `.rtf` to `.hml` with libreoffice. The result is not perfect but kind of usable. Anyway, this hack is not recommended for production.
As there is no chance to get this done with `fop` I close this issue.

[2018-10-28 05:09] mojavelinux commented on #92
That's not correct. FOP is only being used here to make PDF. If you want to make another format, you just have to instruct the toolchain to use the appropriate stylesheets (in which case it case it does not go through FOP). One of the backends that the DocBook toolchain supports is xhtml. So just set that as the target format and it will work. (This is exactly the same as a2x).

[2018-10-28 05:15] mojavelinux commented on #92
Oops, my mistake. I had forgotten we are using fop to run the stylesheets. In that case, you are correct. Since fopub is using fop to run the stylesheets, xhtml comes off the table.

[2018-10-28 05:16] mojavelinux commented on #92
The toolchain is almost set up to be able to make use of the XSL for xhtml output, but not quite. Some modifications would have to be made. In this sense, fopub is not a replacement for a2x.

[2018-10-28 05:32] mojavelinux commented on #92
I've submitted a PR to get you going. It probably needs some refinement.

See https://github.com/asciidoctor/asciidoctor-fopub/pull/93

[2018-10-28 11:35] getreu commented on #92
I tested you PR and it works nicely. Thank you!
For me this is a read added value, because I do not have to maintain 2 different toolchains any more.

[2018-10-28 11:39] getreu commented on #92
Although we have a working implementation now, I suggest to leave this issue open:
We still could add some css styling later to obtain a similar and as beautiful layout as in the .pdf rendition.

[2018-10-28 22:33] mojavelinux commented on #92
I've given you access to this repository. If you accept, you can merge at will.

[2018-11-02 06:51] mojavelinux commented on #88
I wonder if #94 fixes this issue.

[2018-11-02 06:51] #6 closed

[2018-11-02 06:52] mojavelinux commented on #66
This was resolved by a9c62a7f88256c0eaa530e765e943b28f7e3e68f.

[2018-11-02 06:52] #66 closed

[2018-11-02 06:52] #53 closed

[2018-11-02 06:53] #92 closed

[2018-11-02 06:54] mojavelinux commented on #67
fopub works with both DocBook 4.5 and DocBook 5.0 files. The reason the DTDs are there is so that fopub can convert DocBook 4.5 files without error.

[2018-11-02 06:56] mojavelinux commented on #92
To help keep a project moving, the strategy I recommend is to aggressively close issues and reopen new ones to handle follow-up tasks. If you leave issues open, they tend to just die on the vine. But new issues get a fresh outlook and often have more luck at getting resolved. The cycle of issue life.

[2018-11-02 07:06] getreu commented on #92
You are right. I agree.

[2018-11-02 09:51] tajmone commented on #88
Will Gradle 4.9 also allow using Java 10? (see #87)

If I remember correctly, new versions of Gradle fixed the "time-based release model" bug that prevented using JDK 10. If this fixes the issue it would be really cool, as it would allow me to revert to Java 10 (had to step down to JDK 8 specifically to support asciidoctor-fopub).

When I find some time I'll try to setup from scratch the whole  as

[2018-11-02 10:07] mojavelinux commented on #88
That's precisely what I'm asking. I'll be interested to know.

[2018-11-02 14:17] getreu opened #95 "Line number not centered"
I recently updated `asciidoctor-fopub` for the first time after a year or so. This is why I can not tell when exactly the page number moved out of the centre.

![screenshot_2018-11-02_16-12-40](https://user-images.githubusercontent.com/579082/47920242-4227fb80-deba-11e8-9f6c-3455dc3e44e1.png)

[2018-11-02 14:28] #67 closed

[2018-11-02 22:01] mojavelinux commented on #95
I wonder if this has to do with upgrading the DocBook toolchain to 1.79.1 (from 1.78.1). That's where I'd start looking.

[2018-11-03 07:22] getreu opened #96 "Enhancement: enable syntax highlighting in xhtml rendition"

[2018-11-03 08:42] mojavelinux commented on #95
That's literally the only change that has happened in a long time that affected the XSL. So ?

[2018-11-04 09:28] tajmone commented on #88
@mojavelinux,

finally today I've managed to find some time to update asciidoctor-fopub and Java.

It seems that the Gradle problem with JDK >= 10 persists. After having installed Java 11 on my system (Win 10 x64) I get the error:

[code]

So it looks like the error mentioned ad #87 persists.

[2018-11-04 09:41] tajmone commented on #88
As for the original problem of this post (the need to manually run `gradlew installapp`), it seems that the problem also persists.

After having reverted to Java 8, when trying to build a project I still get:

[code]

But if I manually run `gradlew installapp`, then everything works fine again:

[code]

There is a deprecation warning about using `installDist` instead, but it worked fine nonetheles

[2018-11-05 00:39] mojavelinux commented on #88
As for installApp vs installDist, that's a Gradle version thing. fopub now requires that you use Gradle 4 (which is what gradlew is bundling). If you use Gradle 4, you should not see that error.

[2018-11-05 00:43] mojavelinux commented on #88
I don't think you tested the Gradle 4.9 switch (because it was still in a PR). I've merged it, so now you can test again.

[2018-11-05 07:34] mojavelinux commented on #95
First, I'm glad you got it working! You also verified that the Gradle 4.9 upgrade is a go.

My thought is that the cleaning itself solved the problem. You may have run it once when it was in some sort of transitional state. It's always good to clear the cache from time to time just to be certain, esp as a developer. (Remember to nuke ~/.gradle, build, and the local .gradle folder).

[2019-07-25 08:36] tajmone commented on #88
## Works with Java JDK 12

HI @mojavelinux , sorry for the long delay in replying to this, but I just didn't find enough time to go through the whole process.

I now can confirm that I've manged to successfully use __asciidoctor-fopub__ with Java Java SE Development Kit 12.0.2 after pulling current master (and #94).

__NOTE__ — I don't quite remember why I had annotated to update via `gradlew inst

[2019-07-25 08:53] tajmone commented on #88
Ahh! The command is now `gradlew  installDist`!

The task succeeded, but with some warnings:

[code]

As you can see, it still complains about the missing `fopub.bat` mentioned at the beginning of this post.

[2019-07-25 08:54] tajmone commented on #87
As mentioned in #88, it now seems fixed for I've manged to run gradle succesfuly with Java JDK 12!

[2019-09-11 13:21] tajmone opened #97 "Concealed Index Terms Causing Vertical Gaps in PDF"
# Problem Description

The presence of [concealed index terms] on independent lines above source code blocks is causing extra empty lines in the final PDF document, which look ugly (in some cases, where there are multiple Index entries, each on its own line, this creates a huge vertical gap in the page).

This problem only affects PDF documents created via DocBook backend + asciidocto-fopub, and i

[2019-09-11 13:48] tajmone opened #98 "Attribute :sectnums!: Not Honored in Final PDF"
# Problem Description

In document where numbering of specific sections are temporary suppred via `:sectnums!:` (e.g. the Introduction of each chapeter), and then resumed again in the next section (same level), the section numbers in the output HTML and PDF docs are out of synch (i.e. the PDF seems to ignore this).

The project build script don't pass any CLI options affecting section numbers (all

[2019-09-11 19:03] mojavelinux commented on #98
This has nothing to do with fopub. If you look at the DocBook, the information is not there. So it has to do with the DocBook converter. But I'm not sure how DocBook can support turning on and off numbering. If you know of a way, we could certainly add it to the DocBook converter.

[2019-09-22 18:33] asprionj opened #99 "Math: JEuclid error"
I run into the same problem described in [this thread on discuss.asciidoctor.org](https://discuss.asciidoctor.org/Error-running-asciidoctor-fopub-td6928.html). I just want to generate a PDF out of a "playground" ADOC file with everything in it that's of interest for me. Until I added math, everything was working fine. Below is the full output I get.

I just cloned the `asciidoctor-fopub` repo yest

[2019-11-06 15:28] oliviercailloux opened #101 "Delayed start"
fopub seems to do nothing for about 13 seconds before starting to process the document (on a reasonably fast and recent computer and using the simple sample.xml document provided). How can I speed it up?

Details:

[code]
[copied content provided in the README of this repository]
[code]
[first run downloads some stuff, takes 29 seconds in total and produces the expected PDF]
[code]
[second and nex

[2019-11-06 19:28] mojavelinux commented on #101
I've been wondering the same thing. Seems like it's trying to resolve something over the network.

[2019-11-07 08:17] oliviercailloux commented on #101
Sorry, didn’t understand you. Same thing as what? Do you mean that this delay is a usual behavior?

[2019-11-07 08:27] mojavelinux commented on #101
I'm saying I have observed the same problem. I have no idea what is causing it.

[2019-11-07 12:49] oliviercailloux commented on #101
Ah ok, I thought it was something specific to my setup, especially given that the README indicates that the application is fast thanks to it working locally. Let me add, in case it is different for you, that for me the delay is systematic: it happens with every document I tried and at each run.

[2019-11-07 19:37] mojavelinux commented on #101
I can confirm it is happening on every document for me too. It didn't used
to do this, so something changed recently.

[2020-01-05 09:32] #52 closed

[2020-08-27 03:33] fdeitylink commented on #99
I had this issue too and managed to "fix" it by downgrading to Java 8. Java 9 might work too.
I got the hint to do this from [here](http://apache-fop.1065347.n5.nabble.com/FOP-2-3-and-JEuclid-tp46682p46683.html).

Not ideal but seems to work for now.

[2022-06-07 18:44] lemosbash opened #102 "Bash script is unable to run because of the gradle setup"
The bash script included in this repository, mentioned on the **README.adoc** have problems with it's gradle setup, it fetches what it needs, but dies in gradle exception, with no further stacktrace.

Using the example text that is on the README (and producing a docbook with the asciidoctor code snippet right bellow), the build starts, fetches gradle, but dies on a exception, with no further infor

[2022-06-07 18:46] mojavelinux commented on #102
This project is no longer being actively maintained. If you'd like to propose a fix for this problem, I will review and merge it.

[2022-08-21 23:18] dullahan2084 commented on #102
In case it helps, changing the version of gradle (changed 'gradle-4.9-bin.zip' to 'gradle-4.10-bin.zip' in 'gradle/wrapper/gradle-wrapper.properties') solved the issue for me.

[2022-08-22 05:37] mojavelinux commented on #102
If you'd like to make a PR with this change, I'll see that it gets merged.